{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu" id="side">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Checkers <span id="intro">Play Checkers</span></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href=""><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>

	              <a href="{% url 'rule' %}"><span class="fa fa-user mr-3" id="play"></span> How To Play</a>
	          </li>

            {% if user.is_authenticated %}
	          <li>
              <a href="{% url 'create_game' %}"><span class="fa fa-play mr-3"></span> Play with a friend</a>
	          </li>
            {% endif %}

            {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'login'%}"><span class="fa fa-play mr-3"></span> Play with a friend</a>
	          </li>

            {% endif %}

            <li>
              <a href="/playbot"><span class="fa fa-play mr-3"></span> Play with computer</a>

	          </li>

            {% if user.is_authenticated %}
	          <li>

              <a href="{% url 'profile' %}"><span class="fa fa-user mr-3" id="profile"></span> Profile</a>

	          </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li>
              <a href="{% url 'login' %}"><span class="fa fa-user mr-3"></span> Profile</a>
	          </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
              <a href="/logout/"><span class="fa fa-sign-out mr-3"></span>Logout</a>
            </li>
            {% endif %}
	        </ul>

	        <div class="mb-1">
			
            {% if not user.is_authenticated %}
            
            <a href="{% url 'register'%}"><button type="button" class="btn btn-outline-dark btn-lg mt-2">Sign Up</button>
            
            <a href="{% url 'login'%}"><button type="button" class="btn btn-outline-success btn-lg mt-2">Log In</button></a>
            
            {% endif %}       
					</div>

	     

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        {% block content %}
        {% endblock %}
      </div>
		</div>
    <script src="https://unpkg.com/driver.js/dist/driver.min.js">
    </script>
    <script src="{% static 'js/site_tour.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>