{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/gameboard.css' %}"
/>
{% endblock %} 
{% block title%}
Checkers
{% endblock %}

{% block content%}

  <div class="row justify-content-center mt-3">
    <div class="col align-items-center">
      <table>
        <tr>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="0"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="1"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="2"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="3"></p></td>
        </tr>
        <tr>
          <td><p class="red-piece" id="4"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="5"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="6"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="7"></p></td>
          <td class="noPieceHere"></td>
        </tr>
        <tr>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="8"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="9"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="10"></p></td>
          <td class="noPieceHere"></td>
          <td><p class="red-piece" id="11"></p></td>
        </tr>
        <tr>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
        </tr>
        <tr>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
          <td class="noPieceHere"></td>
          <td></td>
        </tr>
        <tr>
          <td><span class="black-piece" id="12"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="13"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="14"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="15"></span></td>
          <td class="noPieceHere"></td>
        </tr>
        <tr>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="16"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="17"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="18"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="19"></span></td>
        </tr>
        <tr>
          <td><span class="black-piece" id="20"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="21"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="22"></span></td>
          <td class="noPieceHere"></td>
          <td><span class="black-piece" id="23"></span></td>
          <td class="noPieceHere"></td>
        </tr>
      </table>
    </div>
    <div class="col align-items-center"> 
      <h1 class="index-title">
        <span>Stuck at home?</span>
        <span>Play Checkers</span>
        <span>for Free</span>
        <span>while chatting with friends!</span>
      </h1>

        <div>
            <a href="{% url 'login'%}"<button type="button" class="btn btn-success btn-lg">Play Online</button></a>
        </div>
        <div>
            <a href="#"><button type="button" class="btn btn-dark btn-lg">Play Computer</button></a>
        </div>
    </div>

  </div>

  <div class="row justify-content-center mt-5">
    <section>
     <h1>How to Play Checkers: A step by step Guide</h1>
     Checkers is one of the oldest games we know. The earliest board found dates back to 3,000 BCE, making it around 5,000 years old! The fact that people still play checkers is a testament to just how addictive, enjoyable, and easy the game is to learn and play.

If you're wondering how to play checkers, you've come to the right place! Here's a quick guide.

Rules Of Checkers
The rules of checkers are easy to learn, but takes some real strategy to master.

The object of the game is to remove all of your opponent's pieces, or checkers, from the board. You do this by jumping over, or capturing, the pieces. 

Each player has 12 checkers, white for one team, and black for the other. To set the game up, each player places their checkers on the black squares in the first three rows in front of them. It doesn't matter if you're the white or black player, the pieces always go on the black squares.

Checkers can only move diagonally, and they can only move forward. You can move one checker per turn. To capture the opposing player's piece, you have to jump over said piece with one of your checkers.

If one of your pieces makes it to the other side of the board that piece becomes a king. When this happens, put another checker of the same color on top of the king checker. The king can move forward and backward diagonally on the board.

You can't move a checker if every space adjacent to it is covered. This piece is considered 'blocked' and can move again when the adjacent pieces move. If you can't move any piece on your turn you lose, even if you still have other pieces on the board.

How To Play Checkers
Once your checkers are set up on the board, you're ready to play.

First, decide who goes first. Unlike chess, white doesn't have to go first -- it can be whoever you want. In our version of Checkers, you'll always go first when playing against the computer.

You can move one checker diagonally each turn. You won't be able to take any pieces on the first turn, so move whichever piece you'd prefer. Once your piece is on its new square, your turn is over. 

Each player moves forward like this until one is in the position to capture a piece. When the opponent's piece is sitting diagonally from you, you can jump over it to capture it. Your checker jumps over the captured piece onto the adjacent diagonal square -- it does not occupy the square that the enemy piece was on.

The captured piece leaves play. Turns continue like this until one player is out of pieces. The first player to run out of pieces loses.

While you can only move one checker per turn, you can capture multiple checkers per turn. Say you jump one enemy piece, and the square you land in is forward-diagonally adjacent to another enemy piece. You can go on to jump that checker as well, and continue to do so with any other forward-diagonally adjacent checkers.

When multi-jumping, your checker can capture pieces forward and backward freely even it it's not a king. However, if your checker lands on the opponent's side momentarily while multi-jumping, it does not become a king. Your piece must land on the opponent's first row and stay there for the turn to become a king.

How To Win Checkers
Checkers may be a simple game, but there's a lot of strategies you can use to get the upper hand.

One of the most popular strategies is controlling the center. Your pieces are safer at the edges of the board since they can't be captured there, but this also lowers your chances of making a capture. Checkers is all about going on the offensive and getting your pieces into the center, ready to jump your opponent's pieces.

You should always focus on getting at least one piece to become a king. The opponent's side of the board is a good place to be and opens up a lot of great move opportunities. Jump pieces when you can, but always have a piece going up the board to become king.

Try moving your checkers in groups of two or three to best protect them. A checker backed up by two other checkers behind it diagonally can't be captured. This gives you the time to scope out your opponent's weak spots and find an opening.

Many players leave their closest row of checkers for backup. These checkers can't be captured from their initial spots at your edge. A good strategy is to leave them dormant until you absolutely need them.

Like chess, sometimes you need to sacrifice a checker for the greater good of the game. Don't be afraid to sacrifice a piece or two if it sets your opponent up for a more devastating loss. You should also learn how to block your opponent's pieces if you really want to get on their nerves.

Overall, you need to pay close attention to win at checkers. Watch for any multi-jumps, pay attention to your player's kings, and never leave yourself open to captures.

It's Time To Checker Up!
Now that you know how to play checkers, it's time to put your newfound skills to the test.

You can play checkers online to hone your skills! Click here to play checkers on Coolmath Games. You can even play against players from around the world!
    </section>
  </div>

  
</div>
{% endblock %}
