{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/profile_style.css' %}"
/>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{% endblock %} 

{% block title%}
Profile
{% endblock %}


{% block content%}
<div class="container emp-profile">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                  <div class="file btn btn-lg btn-primary">
                    <form id="update_user_form" method="POST" action="/update_user/"
                    enctype="multipart/form-data">
                      Change Photo
                      <input type="file" name="file"/>
                    </form>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                          <h5>
                            {{ request.user }}
                          </h5>
                          <p class="status">Hello</p>
                          <p class="proile-rating">RATING : <span>{{ user.profile.rating }}</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">History</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">Open Games</a>
                    </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
          
              <p><form action='/creategame' method='GET'>
                    <button class="btn btn-primary btn-sm" type='Submit'>Create Game</button>
                </form>
              </p>
              <p>OR</p>
              <p><form action='/play/' method='GET'>
                    <p><input name="room_code" type="text" placeholder="Enter Room Code"></p>
                    <p><button class="btn btn-primary btn-sm" type='Submit'>Join Game</button></p>
                </form>
              </p>
              <p>OR</p>
              <p><form action='/playbot' method='GET'>
                <button class="btn btn-primary btn-sm" type='Submit'>Play with Bot</button>
              </form>
              </p>
              <br>
              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>User Id</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ request.user }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Name</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ request.user }}</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Email</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>{{ request.user.email }}</p>
                                  </div>
                              </div>
                            
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                      <div class="col-md-3">
                          <label>Room Code</label>
                      </div>
                      <div class="col-md-3">
                        <label>Result</label>
                      </div>
                      <div class="col-md-3">
                        <label>Date</label>
                      </div>
                      <div class="col-md-3">
                        <label>Rating Change</label>
                      </div>
                    </div>
                    {% for game in game_history %}
                      <div class="row">
                          <div class="col-md-3">
                              <label>{{ game.room_code }}</label>
                          </div>
                          {% if game.won == "D" %}
                          <div class="col-md-3">
                              <p>Draw</p>
                          </div>
                          {% elif game.won == "R" %}
                          {% if game.game_creater == user.id %}
                          <div class="col-md-3">
                            <p>Won</p>
                          </div>
                          {% else %}
                          <div class="col-md-3">
                            <p>Lost</p>
                          </div>
                          {% endif %}
                          {% elif game.won == "B" %}
                          {% if game.game_opponent == user.id %}
                          <div class="col-md-3">
                            <p>Won</p>
                          </div>
                          {% else %}
                          <div class="col-md-3">
                            <p>Lost</p>
                          </div>
                          {% endif %}
                          {% else %}
                          <div class="col-md-3">
                            <p>Terminated</p>
                          </div>
                          {% endif %}
                          <div class="col-md-3">
                            <p>{{ game.date }}</p>
                          </div>
                          {% if game.game_creater == user.id %}
                          <div class="col-md-3">
                            <p>{{ game.creater_rating_change }}</p>
                          </div>
                          {% else %}
                          <div class="col-md-3">
                            <p>{{ game.opponent_rating_change }}</p>
                          </div>
                          {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
                    <div class="row">
                      <div class="col-md-4">
                          <label>Room Code</label>
                      </div>
                      <div class="col-md-4">
                        <label>Game Creator</label>
                      </div>
                      <div class="col-md-4">
                        <label>Rating</label>
                      </div>
                    </div>
                    {% for games_available in avail_list %}
                    <div class="row">
                      <div class="col-md-4">
                          <label id="link">{{ games_available.room_code }}</label>
                          <span onclick="myFunction()" class="fa fa-copy mr-3" data-toggle="tooltip" data-placement="top" title="Copy Code"></span>
                          <script>
                            function myFunction() {
                              /* Get the text field */
                              var copyText = document.getElementById("link");
                            
                              /* Select the text field 
                              copyText.select();
                              copyText.setSelectionRange(0, 99999); 
                              */
                              /* Copy the text inside the text field */
                              navigator.clipboard.writeText(copyText.innerHTML);
                            
                              /* Alert the copied text */
                              alert("Copied the text: " + copyText.innerHTML);
                            }
                          </script>
                      </div>
                      <div class="col-md-4">
                        <p>{{ games_available.game_creater }}</p>
                      </div>
                      <div class="col-md-4">
                        <p>{{ games_available.game_creater.rating }}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
           
</div>

<script>
  function hasNetwork(online) {
  const element = document.querySelector(".status");

  if (online) {
    element.classList.remove("offline");
    element.classList.add("online");
    element.innerText = "Online";
  } else {
    element.classList.remove("online");
    element.classList.add("offline");
    element.innerText = "Offline";
  }
}

window.addEventListener("load", () => {
  hasNetwork(navigator.onLine);

  window.addEventListener("online", () => {
    hasNetwork(true);
  });

  window.addEventListener("offline", () => {
    hasNetwork(false);
  });
});
</script>
{% endblock %}