{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/vc.js' %}"></script>
    <link href="{% static 'css/play_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/vc_style.css' %}" rel="stylesheet">
    <title>Checkers</title>
</head>
<body>
    
    <div id='loadingMenu' style="visibility: hidden; color: azure;">
        Waiting for opponent...<br>
        Room Code : {{ room_code }}<br>
    </div>
    <div id="options" class="options" style="visibility: hidden;">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <button class="btn btn-secondary" onclick="gameDraw()">End game</button>
                  </li>
                  <li class="nav-item">
                    <button class="btn btn-secondary" id="start">
                        Start Recording
                    </button>
                  </li>

                  <li class="nav-item">
                    <button class="btn btn-secondary" id="stop" disabled>
                        Stop Recording
                    </button>
                  </li>
                  <li class="nav-item">
                    {% if player == "game_creator" %}
                    <input placeholder="Enter room code..."
                            type="text"
                            id="username-input" />
                    <button onclick="sendUsername()">Send</button> 
                    <button class="btn btn-secondary" onclick="startCall()">Start Call</button>
                    {% endif %}  
                    {% if player == "game_opponent" %}
                    <input placeholder="Enter room code..."
                            type="text"
                            id="username-input1"/> 
                    <button class="btn btn-secondary" onclick="joinCall()">Join Call</button>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>
    <div id="video-call-div">
        <video muted id="local-video" autoplay></video>
        <video id="remote-video" autoplay></video>
        <div class="call-action-div">
            <button onclick="muteVideo()">Mute Video</button>
            <button onclick="muteAudio()">Mute Audio</button>
        </div>
    </div>
    
    <main id='main' style="visibility: visible;">
        <!--video-call-div resides-->
        <div class="wrapper" style="display: flex; flex-direction: row;">
            <div class="row gameBoard" style="width: 100%;">
                <!-- <div class="red-turn-text mobile">
                    Reds turn
                </div> -->
                <div class="col">
                    <table>
                        <tr>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="0"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="1"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="2"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="3"></p></td>
                        </tr>
                        <tr>
                            <td><p class="red-piece" id="4"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="5"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="6"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="7"></p></td>
                            <td class="noPieceHere"></td>
                        </tr>
                        <tr>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="8"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="9"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="10"></p></td>
                            <td class="noPieceHere"></td>
                            <td><p class="red-piece" id="11"></p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                        </tr>
                        <tr>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                            <td class="noPieceHere"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="black-piece" id="12"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="13"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="14"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="15"></span></td>
                            <td class="noPieceHere"></td>
                        </tr>
                        <tr>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="16"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="17"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="18"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="19"></span></td>
                        </tr>
                        <tr>
                            <td><span class="black-piece" id="20"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="21"></span></td>
                            <td class="noPieceHere">
                            <td><span class="black-piece" id="22"></span></td>
                            <td class="noPieceHere"></td>
                            <td><span class="black-piece" id="23"></span></td>
                            <td class="noPieceHere"></td>
                        </tr>
                    </table>
                </div>
                <div class="col container desktop">

                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="background-color: #DB162F;">
                                <div class="col">
                                    <div class="red-turn-text">
                                        Reds turn 
                                        {% if player == "game_creator" %}
                                            (YOU)
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="black-turn-text">
                                        Blacks turn
                                        {% if player == "game_opponent" %}
                                            (YOU)
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row" style="background-color: #DBDFAC;">
                                    <div class="col" style="color: #383961;">
                                    {{ redScore }}
                                    </div>
                                    <div class="col" style="color: #383961;">
                                    {{ blackScore }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="chatbox">
                                            CHAT:<br>
                                            <div><input id=input placeholder="message" /></div>
                                            <div id=box></div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>
    {% if turn %}
    <script>
        let turn = true;
    </script>
    {% else %}
    <script>
        let turn = false;
    </script>
    {% endif %}
    <script>
        const room_code = '{{ room_code }}';
        const player = '{{ player }}';
        let redScore = {{ redScore|safe }};
        let blackScore = {{ blackScore|safe }};
        const game_squares = {{ game_squares|safe }};
    </script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.28.2.min.js"></script>
    <video  id="screen-video" width="320" height="240" autoplay />
    <script>
      const start = document.getElementById("start");
const stop = document.getElementById("stop");
const video = document.getElementById("screen-video");
let recorder, stream;

async function startRecording() {
  stream = await navigator.mediaDevices.getDisplayMedia({
    video: { mediaSource: "screen" }
  });
  recorder = new MediaRecorder(stream);

  const chunks = [];
  recorder.ondataavailable = e => chunks.push(e.data);
  recorder.onstop = e => {
    const completeBlob = new Blob(chunks, { type: chunks[0].type });
    video.src = URL.createObjectURL(completeBlob);
  };

  recorder.start();
}

start.addEventListener("click", () => {
  start.setAttribute("disabled", true);
  stop.removeAttribute("disabled");

  startRecording();
});

stop.addEventListener("click", () => {
  stop.setAttribute("disabled", true);
  start.removeAttribute("disabled");

  recorder.stop();
  stream.getVideoTracks()[0].stop();
});  





(function() {
    var pubnub = new PubNub({
        publishKey: 'pub-c-41c5ef93-a994-4e54-9307-c866bdb8e3a5',
        subscribeKey: 'sub-c-32489648-5a95-11ec-96e9-32997ff5e1b9'
    });
    function $(id) {
        return document.getElementById(id);
    }
    var box = $('box'),
        input = $('input'),
        channel = '10chat-demo';
    pubnub.addListener({
        message: function(obj) {
            box.innerHTML = ('' + obj.message).replace(/[<>]/g, '') + '<br>' + box.innerHTML
        }
    });
    pubnub.subscribe({
        channels: [channel]
    });
    input.addEventListener('keyup', function(e) {
        if ((e.keyCode || e.charCode) === 13) {
            pubnub.publish({
                channel: channel,
                message: input.value,
                x: (input.value = '')
            });
        }
    });
})();

</script>

</body>
</html>