<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Page After login/Signup</title>
</head>
<body>
    <div>
        <h3>1. User Info</h3>
        <h3>2. User Match history</h3>
        <h3>3. User rating/league</h3>
    </div><br><br>
    <div>
        <h3>1. Use room_code to invite opponent</h3>
        <form action='/creategame' method='get'>
            <button type='Submit'>Create Game</button>
        </form>
        <form action='/play/' method='GET'>
            <input name="room_code" type="text" placeholder="Enter Room Code">
            <button type='Submit'>Join Game</button>
        </form>
        <h3>2. Play with bot</h3>
        <form action='/logout/' method='GET'>
            <button type='Submit'>Logout</button>
        </form>
    </div>
</body>
</html>